# Ignore node modules
node_modules
/kubernetes
kubeconfig


# Ignore Docker-related files
Dockerfile

# Ignore git repository files
.git
.gitignore

# Ignore documentation and licenses
LICENSE.md
README.md